@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    margin: 10px;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: rgb(10, 10, 10);
    color: white;
}

.paginaatual {
    color: red;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}



.logo {
    font-size: 28pt;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-lista {
    list-style: none;
    display: flex;
}

.nav-lista li {
    margin-right: 32px;
}

header {
    font-size: larger;
    user-select: none;
}

.hifen {
    color: red;
}

.sino {
    border-color: aqua;
    border-radius: 15px;
    background-image: url(../../imagens/sino.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
    width: 45px;
    height: 45px;
}

.sino:hover {
    cursor: pointer;
}





form {
    display: flex;
    justify-content: center;
}

.caixa {
    font-family: 'Kanit', sans-serif;
    outline: none;
    padding: 2px;
    padding-left: 10px;
    border: none;
    color: white;
    border-bottom: 2px solid red;
    background-color: transparent;
    background-size: auto;
    font-size: larger;
    width: 10%;
}

.caixa::placeholder {
    color: whitesmoke;
}

button {
    outline: none;
    background-color: transparent;
}

.lupa {
    transform: scaleX(-1);
    
    width: 40px;
    height: 40px;
}

button:hover {
    outline: none;
    cursor: pointer;
    opacity: 0.8;
}

hr {
    border: 2px solid red;
    border-radius: 5px;
    width: 83%;
    margin: auto;
    margin-top: 40px;
}