.foto {
    width: 40px;
    height: 40px;
}

.usuariosessao {
    display: flex;
    justify-content: left;
}


.stars {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.stars img {
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
}

.comentador {
    display: flex;
    font-size: 16pt;
}

.resenha {
    display: flexbox;
    justify-content: center;
    
}